Fabric3>=1.13.1
boto>=2.36.0
pip>=8.1.2
# With native library
pycrypto>=2.6.1
six>=1.10.0

# For datetime-related helpers
# pytz>=2017.2

# When used with Django
# django-assets>=0.10
# python-dateutil>=2.4.2

# When used with Flask
# Flask>=0.11
