<!DOCTYPE html>
<html>
<head>
  <title>Deployutils Testsite</title>
  <script type="text/javascript" src="{{'/static/vendor/jquery.js'|asset}}"></script>
  {% block localheader %}{% endblock %}
</head>
<body>
  {% block menubar %}
  <div>
  <a href="/">Home</a>
  </div>
  {% endblock %}
  <div id="messages">
    <div id="messages-content">
      {% for message in request|messages %}
      <div class="alert{% if message.tags %} alert-{{message.tags}}{% endif %}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>{{message|safe}}</div>
      </div>
      {% endfor %}
      {% if form %}
      {% for message in form|messages %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div>{{message}}</div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
</body>
<script type="text/javascript" src="{{'/static/cache/app.js'|asset}}"></script>
{% block bodyscripts %}
{% endblock %}
</html>
