Django==3.2.19
djangorestframework==3.14.0
Jinja2==3.1.1
PyJWT==2.6.0
python-dateutil==2.8.2
monotonic==1.6
cryptography==41.0.4

# When DEBUG=1
django-debug-toolbar==3.5.0       # 3.4.0 requires Django>=3.2
                                  # 3.2.4 fails with SQLPanel is not scriptable
                                  # 2.2.1 is the last version for Django2.2
                                  # 1.11 does not support Django 2.2
django-extensions==3.2.0          # required by Django==4.0

# So we can run pylint with no missing imports
coverage==7.2.3
Flask==2.1.1

# development
Sphinx==5.1.1
sphinxcontrib-httpdomain==1.8.1
