Django==3.2.15
djangorestframework==3.12.4
Jinja2==3.1.1
PyJWT==2.4.0
python-dateutil==2.8.2
monotonic==1.1
cryptography==37.0.2

# When DEBUG=1
django-debug-toolbar==3.5.0       # 3.4.0 requires Django>=3.2
                                  # 3.2.4 fails with SQLPanel is not scriptable
                                  # 2.2.1 is the last version for Django2.2
                                  # 1.11 does not support Django 2.2
django-extensions==3.2.0          # required by Django==4.0

# So we can run pylint with no missing imports
coverage==6.3.2
Flask==2.1.1

# development
Sphinx==3.0.3
sphinxcontrib-httpdomain==1.7.0
