# Unified requirements file supporting py37-django3.2, py39-django4.2,
# py312-django5.1.

Django==3.2.25 ; python_version < "3.9"
Django==4.2.21 ; python_version >= "3.9" and python_version < "3.12"
Django==5.1.10  ; python_version >= "3.12"
djangorestframework==3.14.0 ; python_version < "3.9"
djangorestframework==3.15.2 ; python_version >= "3.9" # Breaking
                                            # changes in 3.15.0 and
                                            # 3.15.1. Requires Django
                                            # >=4.2 and Python >=3.8.

Jinja2==3.1.5
PyJWT==2.6.0
python-dateutil==2.8.2
pytz==2024.2              # This has been obviated by `zoneinfo' and `tzdata'
                          # since 3.9, but we still use it.
monotonic==1.6
cryptography==43.0.1

# When DEBUG=1
django-debug-toolbar==5.0.1 ; python_version >= "3.12"  # Currently in alpha
django-debug-toolbar==4.4.6 ; python_version >= "3.9" and python_version < "3.12"
django-debug-toolbar==3.5.0 ; python_version < "3.9"
                                  # 3.4.0 requires Django>=3.2
                                  # 3.2.4 fails with SQLPanel is not scriptable
                                  # 2.2.1 is the last version for Django2.2
                                  # 1.11 does not support Django 2.2

django-extensions==3.2.3          # required by Django==4.0

# So we can run pylint with no missing imports
coverage==7.2.7
Flask==2.2.5

# development
Sphinx==5.3.0                     # last version that supports Py3.7
sphinx_rtd_theme==2.0.0
sphinxcontrib-httpdomain==1.8.1
